################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/out/build/x64-Debug
/build/Desktop_Qt_6_11_1_MinGW_64_bit_Debug
